@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
  
}
footer {
    padding: 5px;
    background-color: rgb(39, 38, 38); 
    font-size: 15px;
    text-align: center;
    
    
}

footer a {
    display:inline-block;
    color: mintcream;
    text-decoration: none;
    text-align: center;
    padding: 0px 0px; 
    
}
